# Note:
# To effectively apply the changes you will have
# to re-index the git index (if there are already
# commited files)
#
# $ git rm -r -f --cached .
# $ git add .
# $ git commit -m ".gitignore index rebuild"
#

# Composer
/composer.lock
/vendor/

# PhpUnit
/.phpunit.result.cache

# Tools
/tools/*/vendor
/.phpcs.xml

# local .env's
.env**.local

# cache and logs
/cache/
/var/
/logs/